<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div id="body" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:joda="http://www.joda.org/joda/time/tags" version="2.0"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form" 
	xmlns:sec="http://www.springframework.org/security/tags">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:message code="label_employees" var="labelEmployees" />
	<spring:message code="label_employee_name" var="labelEmployeeName" />
	<spring:message code="label_new" var="labelNew" />
	
   	<h4>${labelEmployees}</h4>

	<table class="table">
		<c:forEach items="${employees}" var="employee">
		<tr>
			<td>${employee.getFirstName()}</td>
			<td>${employee.getLastName() }</td>
			<td>${employee.getRole() }</td>
		</tr>
		</c:forEach>
	</table>

	<form method="post">
		<div class="row">
			<div class="col-md-3">
				<label>Voornaam</label>
				<input type="text" name="firstName" class="form-control" />
			</div>
			<div class="col-md-3">
				<label>Achternaam</label>
				<input type="text" name="lastName" class="form-control" />
			</div>
			<div class="col-md-3">
				<label>Rol</label>
				<select class="form-control" name="role">
					<option value="manager"> Manager </option>
					<option value="employee"> Medewerker </option>
				</select>
			</div>
			<div class="col-md-3">
				<label>Salaris </label>
				<input type="text" name="salary" class="form-control" />
			</div>
			<div class="col-md-4">
				<input type="submit" value="Aanmaken"  class="btn btn-success"/>
			</div>
		</div>
	</form>	
</div>